@font-face {
  font-family: "EnvyCodeR";
  src: url("./fonts/EnvyCodeR/EnvyCodeRNerdFontMono-Regular.ttf");
}

body {
  font-family: "EnvyCodeR";

  background-color: black;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

canvas {
  position: absolute;
  top: 0px;
  left: 0px;
}

#logo_container {
  white-space: pre;

  font-size: 4px;

  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}

/* # */
.\23 {
  color: #A243E9;
}

/* + */
.\2b {
  color: #FF8B16;
}


.x {
  color: #FF3846;
}

.X {
  color: #E41067;
}

/* : */
.\3a {
  color: #FFE948;
}

/* ; */
.\3b {
  color: #FFB522;
}
